@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Itim&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

body {
  @apply bg-white
}

.hero-border {
  @apply border-r-primary-100 border-b-primary-100
  border-l-white-100 border-t-white-100
}

.hero-border-secondary {
  @apply border-r-primary-100 border-b-primary-100
  border-l-black border-t-black
}